<div class="jumbotron">
  <h1>Overview</h1>
  <p> Religion<br>
    Atheists: {{all.getReligiousCount().none}}<br>
    Christs: {{all.getReligiousCount().christian}}<br>
    Scientologists: {{all.getReligiousCount().scientology}}<br>
  </p>
  <p>Education<br>
    No Education: {{all.getEducationCount().none}}<br>
    Basic Education: {{all.getEducationCount().basic}}<br>
    High Education: {{all.getEducationCount().high}}<br>
  </p>
  <p>Average Age: {{all.getAvgAge()}}</p>

</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
