<div class="header">
  <div class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li ng-repeat="tab in nav.tabs" ng-class="[nav.isTabActive(tab.name)]" ng-click="nav.setActiveTab(tab.name)" >
        <a ng-href="#/{{tab.name}}"><span class="{{tab.css}}"></span> {{tab.visibleName}}
        </a>
      </li>
      <li class="my-green" ng-click="all.advanceTime()" >
        <a><span class="glyphicon glyphicon-ok"></span> <span class="my-white">Finish Season</span>
        </a>
      </li>
    </ul>
  </div>
</div>